.fa{display:inline-block;width:1em;text-align:center}
.lnr{display:inline-block;width:1em;text-align:center}
.product-card__image{width:100%;height:auto;aspect-ratio:466/350;object-fit:cover}
.logo img{height:auto}